<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
<meta charset="UTF-8" />
<title>cadastro de Clientes	</title>
	<link rel="icon" href="/js/favicon.jpg">
	
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/estilo.css"/>
	
	<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
	
</head>

<body>
	
	<h1> Página inicial </h1>
	
<div class="container">
	<a class="btn btn-primary" href="/cliente/novo"> Novo </a>
</div>	
   
</body>
</html>


