<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
<meta charset="UTF-8" />
<title>cadastro de Clientes	</title>
	<link rel="icon" href="/js/favicon.jpg">
	
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/estilo.css"/>
	
	<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
	
</head>

<div>
<div class="container">	
	<h1> Cadastro de Clientes </h1>
	<a class="btn btn-primary" href="/cliente/novo"> Novo </a>
	
	<br><br>
	
	  <div class="row mb-3">
		<label class="col-sm-1 col-form-label"> ID:</label>
		<div class="col-sm-2">
			<input class="form-control" type="text"> 
	    </div>
	  </div>	
</div>


   
</body>
</html>


